/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
	background-color: #eee;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a         { color: #f19f35; text-decoration: none;}
a:hover   { text-decoration: underline; }
a:visited { color: #f19f35; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header {
	display: block;
	text-align: center;
	margin-bottom: 25px;
}

.header h1{
	font-size: 48px;
	margin-bottom: 10px;
}

.header #description{
	font-size: 16px;
	margin-bottom: 10px;
}

.header .nav-item{
	color: #f19f35;
	padding: 0 15px;
	width: 100px;
}

.title {
  display: inline-block;
  margin-bottom: 0em;
  text-transform: uppercase;
}

.footer {
  font-size: 80%;
  color: #666;
  padding-bottom: 10px;
  overflow: hidden;
}

.footer .contact {
  margin-top: 10px;
  float: left;
  margin-right: 3em;
}

.footer .posts-footer {
  float: left;
  list-style-type: none;
  width: 400px;
  margin-top: 10px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#home h2{
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 400px;
	background-color: #e1e1e1;
	padding: 10px;
	margin-bottom: 10px;
}

#home p{
	margin: 10px 0;
}

#home ul{
	margin-left: 50px;
}

/*****************************************************************************/
/*
/* Blog
/*
/*****************************************************************************/
#blog .fancyh2 {
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 400px;
	background-color: #e1e1e1;
	padding: 10px;
	margin-bottom: 10px;
}

#blog p{
	margin: 10px 0;
}

#blog .post-list{
	list-style-type: none;
}

#blog .post-date{
	font-style: italic;
	font-size: 80%;
	color: #666;
	margin-top: 0px;
}

.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post-header {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 400px;
	background-color: #e1e1e1;
	padding: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.post-footer {
	font-size: 80%;
	color: #666;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}