---
layout: default
title: Blog
permalink: /blog/
includelink: true
---

<!-- To-do: Move to own CSS file -->
<style>
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

#blog #content {
	font-size: 18px;
	line-height: 26px;
	max-width: 1000px;
	margin-top: 75px;
}

#post-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
</style>

<div id="blog">
	<div class="container" id="content">
		<h1>Blog</h1>
		<ul id="post-list">
		    {% for post in site.posts %}
		    <hr />
			<li>
			    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			    <p class="post-date">Posted on {{ post.date | date_to_string }} by
			    	{% if post.author %} <a href="{{ post.author-url }}">{{ post.author }}</a> {% else %} Andrew Kerr {% endif %}</p>
				<p>{{ post.excerpt }}</p>
				<p class="post-date"><a href="{{ post.url }}">Read more...</a></p>
			</li>
		    {% endfor %}
		</ul>
	</div>
</div>