---
layout: default
---

<!-- To-do: Move to own CSS file -->
<style>
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

p {
	margin-bottom: 25px;
}

#post #content {
	font-size: 18px;
	line-height: 26px;
	max-width: 1000px;
	margin-top: 75px;
}
</style>
<div id="post">
	<div class="container" id="content">
		<a href="/blog/">&lsaquo;&lsaquo; Return to Blog</a>
		<header class="post-header">
			<h1 class="post-title">{{ page.title }}</h1>
			<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
		</header>

		<article class="post-content">
			{{ content }}
		</article>
	</div>
</div>
