---
title: Home
---

markdown:
  Just a nerd who likes music, funny things, and computers. Currently an intern at BlockScore in Mountain View. Future security intern at Tumblr in New York City. Normally Software Engineering student at the University of Florida.

  Get in touch - [@andrewuf](https://twitter.com/andrewuf) or [me@andrewjkerr.com](mailto:me@andrewjkerr.com).